<tr>
	  <td><%= cliente.nome %></td>
	  <td><%= cliente.idade%></td>
		<td><%= link_to 'Show', cliente %></td>
		<td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
		<td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
</tr>
