<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @paciente.nome %>
</p>

<p>
  <b>Idade:</b>
  <%= @paciente.idade %>
</p>

<p>
  <b>Descricao:</b>
  <%= @paciente.descricao %>
</p>

<p>
  <b>Inicio:</b>
  <%= @paciente.inicio %>
</p>

<p>
  <b>Dataatendimento:</b>
  <%= @paciente.dataatendimento %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
